@import url("navigation.css");
@import url("footer.css");
@import url("content.css");

/*
==============
common styling
============== 
*/

a:link {
  text-decoration: none;
}

a:hover > p {
  background-color: black;
  color: white;
}

body {
  background-color: rgb(202, 195, 85);
  color: rgb(80, 120, 240);
}
img {
  opacity: 0.6;
  max-width: 100%;
}

* {
  text-align: center;
}

.logo img {
  max-height: 100px;
}
